<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h4>IT Services</h4>
                        <ul>
                            <li><a href="">Find a Mentor</a></li>
                            <li><a href="">Cloud Services</a></li>
                            <li><a href="">Data Protection Services</a></li>
                            <li><a href="">Migration Services</a></li>
                            <li><a href="">Program & Courses</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Solutions</h4>
                        <ul>
                            <li><a href="">Solutions</a></li>
                            <li><a href="">Kubernetes Services</a></li>
                            <li><a href="">Data Protection Courses</a></li>
                            <li><a href="">Devops Services</a></li>
                            <li><a href="">Machine Learning</a></li>
                            <li><a href="">KubeVirt Services</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Case Studies</a></li>
                            <li><a href="">IT Blog</a></li>
                            <li><a href="">Locations</a></li>
                            <li><a href="">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="#">Forum Support</a></li>
                            <li><a href="#">Help & FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Pricing and plans</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>Learn</h4>
                        <ul>
                            <li><a href="#">Forum Support</a></li>
                            <li><a href="#">Help & FAQ</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Pricing and plans</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2>Join Our Newsletters</h2>
                <form>
                    <input type="text" placeholder="Email Address" />
                    <input type="submit" value="Join Now" />
                </form>
                <h3>Get In Touch</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

                <div class="social-icons">
                    <p>Contact Us</p>
                    <a href="#"><img src="assets/images/home/social-icon/facebook-icon.svg" /></a>
                    <a href="#"><img src="assets/images/home/social-icon/instagram.svg" /></a>
                    <a href="#"><img src="assets/images/home/social-icon/linkedin.svg" /></a>
                    <a href="#"><img src="assets/images/home/social-icon/twitter.svg" /></a>
                </div>
            </div>


        </div>
    </div>
    <div class="footer">
        <p>&copy; 2024 LOGO Company. All rights reserved.</p>

    </div>
</footer>