<section class="sectionHomeOne">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="mentor-card experience_box">
                    <img src="assets/images/home/about/experience.svg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">10+ Years Of Experience</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="experience_box_rightP">
                    <div class="line_heading">
                        <h1 class="mb-4">Get help from vetted <span>Mentors</span></h1>
                        <h2 class="mb-4">One-on-one live mentorship</h2>
                        <p class="mb-5">Get help from experienced, vetted mentors who bring real-world expertise to your learning journey. Our mentors are carefully selected for their skills and industry knowledge, ensuring you receive high-quality guidance tailored to your goals. Whether you're advancing your career or mastering a new technology, our mentors provide actionable insights and support to help you succeed.</p>
                    </div>

                    <div class="row experience_box_rightPB">
                        <div class="col-md-6">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img class="experience_box_rightPB_yellow" src="../assets/images/home/about/icons1.jpeg" />
                                </div>
                                <div class="flex-grow-1 ml-3">
                                    <h3>Experienced Mentors</h3>
                                    <p>Access guidance from mentors with proven industry expertise.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/home/about/icon2.svg" />
                                </div>
                                <div class="flex-grow-1 ml-3">
                                    <h3>Real-World Insights</h3>
                                    <p>Gain practical, actionable knowledge for real-world applications.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row experience_box_rightPB">
                        <div class="col-md-6">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/home/about/icon3.svg" />
                                </div>
                                <div class="flex-grow-1 ml-3">
                                    <h3>Personalize your learning experience</h3>
                                    <p>Receive personalized advice focused on your unique goals.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="../assets/images/home/about/icon4.svg" />
                                </div>
                                <div class="flex-grow-1 ml-3">
                                    <h3>Quality Assurance</h3>
                                    <p>Mentors are vetted to ensure the highest standards of mentorship.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sectionHomeTwo">
    <div class="sectionHomeTwo_fixedRight">
        <img src="../assets/images/home/services/services-Right-ellipse.svg" />
    </div>
    <div class="container">
        <div class="line-star_text">
            <img src="/assets/images/home/services/line-star.svg" />
            <div>
                <h1 class="text-center">How it Services?</h1>
                <h2 class="text-center">Stay Up, Stay Running, Stay Protected</h2>
            </div>
        </div>
        <div class="row mt-2">
            <ul>
                <li>
                    <div>
                        <h3>Career Mentorship</h3>
                        <p>Receive personalized career guidance to navigate the tech landscape. Career mentors help you define goals, build a strategic plan, and refine your skills to stand out in the competitive job market.</p>
                        <a href="" class="button">More Details</a>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="assets/images/home/services/box2.jpeg" />
                    </div>
                    <div>
                        <h3>Tech Mentors</h3>
                        <p>Advance your technical skills with hands-on guidance from tech mentors..</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="assets/images/home/services/box3.svg" />
                    </div>
                    <div>
                        <h3>Product Mentors</h3>
                        <p>Develop a strong foundation in product management. Product mentors guide you through.</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="assets/images/home/services/box4.svg" />
                    </div>
                    <div>
                        <h3>Startup Mentors</h3>
                        <p>Turn your entrepreneurial dreams into reality with startup mentors...</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="assets/images/home/services/box5.svg" />
                    </div>
                    <div>
                        <h3>Design Mentors</h3>
                        <p>Enhance your design skills with expert insights. Design mentors...</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="assets/images/home/services/box6.svg" />
                    </div>
                    <div>
                        <h3>Leadership Mentors</h3>
                        <p>Strengthen your leadership capabilities to manage teams and drive impact..</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="sectionHomeThree">
    <div class="sectionHomeThree_DOT">
        <img src="assets/images/home/mentor-connect/background-doteL-img.svg" />
    </div>
    <div class="sectionHomeThree_LINE">
        <img src="assets/images/home/mentor-connect/backgraound-shapeR-img.svg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionHomeThree_t">
                    <img src="assets/images/home/mentor-connect/connect-top-deve-hero-icon.svg" />
                    <h1>Connect with 12000+ Top Developers Anytime</h1>
                    <h2>Managed IT Services Customized For Your Industry</h2>
                    <p>These programs are 100% industry-led and mentored by Industry Mentor. You can choose from full length Tech and Non-tech Programs.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tag-list">
        <div class="loop-slider loop-sliderOne">
            <div class="inner">
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="loop-slider loop-sliderTwo">
            <div class="inner">
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
                <div class="tag">
                    <span><img src="assets/images/home/mentor-connect/connect-user-1.svg" /></span>
                    <div>
                        <h4>Team Willson</h4>
                        <p>Senior Software Engineer &#64; Indeed</p>
                        <ul>
                            <li><img src="assets/images/home/mentor-connect/icon-p.svg" /></li>
                            <li><img src="assets/images/home/mentor-connect/icon-js.svg" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fade"></div>
    </div>
</section>


<section class="sectionHomeFour">
    <div class="container">
        <h1 class="text-center">How MentorCoder Help</h1>
        <h3 class="text-center mb-4">Learn. Grow. Excel-With Industry Mentors by Your Side</h3>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline">
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag"></span>
                            </div>
                            <div class="desc">
                                <img src="assets/images/home/mentor-corderhelp/img-1.svg" />
                                <div>
                                    <h4>Need guidance? Assess Your Goals</h4>
                                    <p>We start by understanding your skills, career goals, and preferred learning style to create a customized plan.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag"></span>
                            </div>
                            <div class="desc">

                                <div>
                                    <h4>Need guidance? Assess Your Goals</h4>
                                    <p>We start by understanding your skills, career goals, and preferred learning style to create a customized plan.</p>
                                </div>
                                <img src="assets/images/home/mentor-corderhelp/img-2.svg" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag"></span>
                            </div>
                            <div class="desc">
                                <img src="assets/images/home/mentor-corderhelp/img-3.svg" />
                                <div>
                                    <h4>Need guidance? Assess Your Goals</h4>
                                    <p>We start by understanding your skills, career goals, and preferred learning style to create a customized plan.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="hexa"></span>
                                <span class="flag"></span>
                            </div>
                            <div class="desc">
                                <div>
                                    <h4>Need guidance? Assess Your Goals</h4>
                                    <p>We start by understanding your skills, career goals, and preferred learning style to create a customized plan.</p>
                                </div>
                                <img src="assets/images/home/mentor-corderhelp/img-4.svg">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="sectionHomeFive">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="line_heading">
                    <h1 class="mb-2">Our Values<p class="mb-4">COMMITMENT</p> </h1>

                    <span>These values give us the foundations we need.</span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="sectionHomeFive_slider">
                    <div class="feature_items_slider owl-carousel owl-theme">
                        <div class="item">
                            <img src="assets/images/home/Our-Values/user-img.svg" />
                            <div>
                                <img src="assets/images/home/Our-Values/user-ventor.svg" />
                                <p>This is probably the single greatest resource to learn app dev or basics of AI $10 for 15 mins to remove a blocker.</p>
                                <div class="caption">
                                    <h2>By : Ron Wilson</h2>
                                    <h5>Creative Director</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/images/home/Our-Values/user-img.svg" />
                            <div>
                                <img src="assets/images/home/Our-Values/user-ventor.svg" />
                                <p>This is probably the single greatest resource to learn app dev or basics of AI.</p>
                                <div class="caption">
                                    <h2>By : Kill Wilson</h2>
                                    <h5>Creative Director Nokia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sectionHomeSix">
    <div class="row">
        <div class="col-md-12">
            <ul class="bigUL">
                <li>
                    <img src="assets/images/home/our-help/helpL-img.svg" />
                    <div class="contentImg_part">
                        <h2>How Can We Help?</h2>
                        <form>
                            <input type="text" placeholder="Help me find something" />
                            <input type="submit" value="Join Now" />
                        </form>
                    </div>
                </li>
                <li>
                    <div class="right">
                        <img src="assets/images/home/mentor-connect/backgraound-shapeR-img.svg" />
                    </div>
                    <div class="left">
                        <img src="assets/images/home/services/line-star.svg" />
                    </div>
                    <div class="clearfix"></div>
                    <ul class="table_list">
                        <li>
                            <div>
                                <img src="assets/images/home/our-help/buy-icon.svg" />
                                <p>How To Buy</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="assets/images/home/our-help/mail-icon.svg" />
                                <p>Email Sales</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="assets/images/home/our-help/product-hunt-icon.svg" />
                                <p>How To Buy</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="assets/images/home/our-help/chat-icon.svg" />

                                <p>Email Sales</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>

<section></section>

<section class="sectionHomeSeven">
    <div class="sectionHomeSeven_Limg">
        <img src="assets/images/home/mentor-connect/background-doteL-img.svg" />
    </div>
    <div class="sectionHomeSeven_Rimg">
        <img src="assets/images/home/mentor-connect/backgraound-shapeR-img.svg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="line-star_text">
                    <img src="../assets/images/home/services/line-star.svg" />
                    <div>
                        <h1 class="text-center">Our Industry Mentorship Model <span>Campus Partners</span></h1>
                        <h2 class="text-center">Stay Up, Stay Running, Stay Protected</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="sectionHomeSeven_slider">
            <div class="sectionHomeSeven_sliders owl-carousel owl-theme">
                <div class="item">
                    <img src="assets/images/home/our clients/brand-1.svg" />
                </div>
                <div class="item">
                    <img src="assets/images/home/our clients/brand-2.svg" />
                </div>
                <div class="item">
                    <img src="assets/images/home/our clients/brand-3.svg" />
                </div>
                <div class="item">
                    <img src="assets/images/home/our clients/brand-4.svg" />
                </div>
                <div class="item">
                    <img src="assets/images/home/our clients/brand-5.svg" />
                </div>
                <div class="item">
                    <img src="assets/images/home/our clients/brand-6.svg" />
                </div>
            </div>
        </div>


    </div>
</section>

<section class="call_icons">
    <div>
        <img src="../../../assets/images/call-icon.jpeg">
    </div>
</section>

<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>