


.sectionHomeOne{padding-bottom:50px;}
.experience_box{}
.experience_box img{width:100%;}
.experience_box .card-body{background: #da3535; color: #fff; text-align: center; padding: 15px 10px;}
.experience_box .card-body h5{margin:auto; font-size:20px; font-weight:500;}

.experience_box_rightPB .d-flex{margin-bottom:15px; margin-top:15px;}
.experience_box_rightPB_yellow{background:#f7c758!important;}
.experience_box_rightPB img{background: #f9e5d2; border-radius: 50px; padding: 10px; height: 50px; width: 50px; margin-right: 15px;}
.experience_box_rightPB h3{margin:auto; font-size:18px; font-weight:500; margin-bottom:10px;}
.experience_box_rightPB p{font-size:13px; font-weight:400; color:#000; margin:auto; }


.sectionHomeTwo{background: #fafafa; padding: 50px 0px; position:relative;}
.sectionHomeTwo_fixedRight{position:absolute; right:0; top:0; z-index:9;}
.line-star_text{display: inline-flex; place-items: center; justify-content: flex-start; margin-left: 150px;}
.sectionHomeTwo h1{color:#da3535;font-size:35px; font-weight:600; width:100%;}
.sectionHomeTwo h2{color:#3c5080;font-size:20px; font-weight:500;  width:100%;}
.sectionHomeTwo ul{display: flex; flex-wrap: wrap; place-items: center; justify-content: center; text-align: center; position:relative; z-index:99;}
.sectionHomeTwo ul li{width: 33%; background: #9b69db; padding: 30px 20px; display: flex; flex-wrap: wrap; justify-content: center; place-items: center; height: 350px;}
.sectionHomeTwo ul li h3{color:#414141; font-size:20px; margin-bottom:15px;}
.sectionHomeTwo ul li p{color:#414141; font-size:14px;}
.sectionHomeTwo ul li img{width:70%; margin:auto;}
.sectionHomeTwo ul li:nth-child(1) h3{color:#fff;}
.sectionHomeTwo ul li:nth-child(1) p{color:#fff;}
.sectionHomeTwo ul li:nth-child(1) a{background:#fff; padding:10px; border-radius:3px; width:100%; color:#333; box-shadow:0px 2px 5px #333;display: block; text-decoration:none; font-size: 19px; font-weight: 500;}
.sectionHomeTwo ul li:nth-child(2){background:#fff;}
.sectionHomeTwo ul li:nth-child(3){background:#f6adad;}
.sectionHomeTwo ul li:nth-child(4){background:#fbde9c;}
.sectionHomeTwo ul li:nth-child(5){background:#a9d0ec;}
.sectionHomeTwo ul li:nth-child(6){background:#b6becc;}


.sectionHomeThree{padding:50px 0px;background: #ededed; position:relative;}
.sectionHomeThree_t h1{color:#da3535;font-size:35px; font-weight:600; text-align:center; margin-bottom:25px; margin-top:20px;}
.sectionHomeThree_t h2{color:#000;font-size:25px; font-weight:500;text-align:center; margin-bottom:15px;}
.sectionHomeThree_t p{color:#333;font-size:17px; font-weight:400;text-align:center; width:70%; display:block; margin:auto; margin-bottom:30px;}
.sectionHomeThree_t img{width: 12%; margin: auto; display: block; background: #fff; border-radius: 100%; padding: 10px; box-shadow: 0px 5px 5px #b1b1b1;}
.sectionHomeThree_DOT{position:absolute;left:0; top:0;}
.sectionHomeThree_DOT img{}
.sectionHomeThree_LINE{position:absolute;right:0; top:0;}
.sectionHomeThree_LINE img{}
.tag-list { width: 100%; display: flex; flex-shrink: 0; flex-direction: column; gap: 1rem 0; position: relative; padding: 1.5rem 0; overflow: hidden; } 
.loop-slider .inner { display: flex; width: fit-content; animation-name: loop; animation-timing-function: linear; animation-iteration-count: infinite; animation-direction: var(--direction); animation-duration: var(--duration); } 
.tag {display: flex; align-items: center; gap: 1rem; background-color: #fff; border-radius: 10px; padding: 0.7rem 1rem; margin-right: 1rem; box-shadow: 0px 2px 5px #c1c1c1; position:relative;} 
.tag span {position:absolute; top:-10px; left:-5px;} 
.fade {opacity:1!important; pointer-events: none; background: linear-gradient(90deg, #ededed, transparent 30%, transparent 70%, #ededed); position: absolute; inset: 0;} 
@keyframes loop { 0% { transform: translateX(50); } 100% {  transform: translateX(calc(-80px * 4)); } }
.loop-sliderOne{--duration:15951ms; --direction:normal;}
.loop-sliderTwo{--duration:19260ms; --direction:reverse;}
.loop-slider .inner:hover { animation-play-state: paused; }

.loop-sliderOne{margin-bottom:30px;}
.tag> div{margin-left:70px;}
.tag> div h4{font-size:15px; font-weight:500; color:#000;}
.tag> div p{font-size:13px; font-weight:400; color:#333;}
.tag> div ul{margin:0; padding:0;}
.tag> div ul li{list-style:none; display:inline-block; font-size:13px; font-weight:400; color:#333;}

.sectionHomeFour{background-image:url(/images/assets/mentor-corderhelp/mentor-corder-help-bg-ellipse.svg); overflow:hidden; padding:50px 0px;  background-position:top; background-repeat: no-repeat; background-size:100% 100%;}
.sectionHomeFour h1{margin-bottom: 18px; color: #da3535; font-weight: 600; font-size: 35px;}
.sectionHomeFour h3{margin-bottom: 18px; color: #3d507f; font-weight: 500; font-size: 18px;}
.hexa { border: 0px; float: left; text-align: center; height: 35px; width: 60px; font-size: 22px; background: #f0f0f0; color: #3c3c3c; position: relative; margin-top: 15px; } 
.hexa:before { content: ""; position: absolute; left: 0; width: 0; height: 0; border-bottom: 15px solid #f0f0f0; border-left: 30px solid transparent; border-right: 30px solid transparent; top: -15px; } 
.hexa:after { content: ""; position: absolute; left: 0; width: 0; height: 0; border-left: 30px solid transparent; border-right: 30px solid transparent; border-top: 15px solid #f0f0f0; bottom: -15px; } 
.timeline { position: relative; padding: 0; width: 100%; margin-top: 20px; list-style-type: none; } 
.timeline:before {position: absolute; left: 50%; top: 0; content: ' '; display: block; height: 100%; margin-left: -1px; border-color: #da3535; z-index: 5; border-style: dashed; border-width: 2px; } 
.timeline li { padding: 2em 0; } 
.timeline .hexa { width: 16px; height: 10px; position: absolute; background: #da3535; z-index: 5; left: 0; right: 0; margin-left: auto; margin-right: auto; top: -30px; margin-top: 0; } 
.timeline .hexa:before { border-bottom: 4px solid #da3535; border-left-width: 8px; border-right-width: 8px; top: -4px; } 
.timeline .hexa:after { border-left-width: 8px; border-right-width: 8px; border-top: 4px solid #da3535; bottom: -4px; } 
.direction-l, .direction-r { float: none; width: 100%; text-align: center; } 
.flag-wrapper { text-align: center; position: relative;  width: 100%; top: 0;} 
.flag {position: relative; display: block; width: 37%; top: 0; float: right;}
.direction-r .flag{float:left;}
.direction-l .flag:after, .direction-r .flag:after { content: ""; position: absolute; left: 50%; top: -15px; height: 0; width: 0; margin-left: -8px; border: solid transparent; border-bottom-color: rgb(255,255,255); border-width: 8px; pointer-events: none; } 
.flag:before{position: absolute; right: 0; top: 0; content: ' '; display: block; display: block; height: 100%; margin-left: -1px; border-color: #da3535; z-index: 5; border-style: dashed; border-width: 2px; width:200px;}
.desc { position: relative; margin: 1em 0 0 0; padding: 1em; z-index: 15; } 
.direction-l .desc, .direction-r .desc {position: relative; margin: 0; padding: 0;text-align: left; z-index: 15; display: flex; place-items: end;} 
.direction-l .desc> div, .direction-r .desc> div{margin-left:15px;}
.direction-l .desc> div h4, .direction-r .desc> div h4{margin-bottom: 18px; color: #3d507f; font-weight: 600; font-size: 25px;}
.direction-l .desc> div p, .direction-r .desc> div p{color:#5f5f5f;font-size: 17px; font-weight: 400;}

@media(min-width: 768px) { 
    .timeline { width: 660px; margin: 0 auto; margin-top: 20px; } 
    .timeline li:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; } 
    .timeline .hexa { left: -28px; right: auto; top: 0px; } 
    .timeline .direction-l .hexa { left: auto; right: -30px; } 
    .direction-l { position: relative; width: 310px; float: left; text-align: right; } 
    .direction-r { position: relative; width: 310px; float: right; text-align: left; } 
    
    .direction-l .flag:after { left: -10px; top: 50%; margin-top: -8px; transform: rotate(180deg); border: solid transparent; border-left-color:rgb(218, 53, 53); border-width: 8px; } 
    .direction-r .flag:after {top: 50%; margin-top: -6px; border: solid transparent; border-right-color: rgb(218, 53, 53); border-width: 8px; right: -20px; width: min-content; transform: rotate(180deg); margin-left: auto;} 
    
    .direction-r .desc { margin: 1em 0 0 0.75em; } 
} 
@media(min-width: 992px) { 
    .timeline { width: 100%; margin: 0 auto; margin-top: 20px; } 
    .direction-l { position: relative; width: 48.2%; float: left; text-align: right; } 
    .direction-r { position: relative; width: 48.2%; float: right; text-align: left; } 
}


.sectionHomeFive{padding:50px 0px; background-image:url(../../../assets/images/home/Our-Values/our-values-hero-bg.svg); background-size:cover; background-attachment:fixed; background-repeat:no-repeat;}
.sectionHomeFive .line_heading h1:before{border: 3px solid #f7c758;}
.sectionHomeFive .line_heading h1{color:#fff; font-size:30px;}
.sectionHomeFive .line_heading p{color:#fff;font-size:20px;}
.sectionHomeFive .line_heading span{color:#fff; font-weight:400; font-size:13px;}
.sectionHomeFive_slider .item{background: #f6f4f2; display: flex; place-items: center; position: relative; padding: 30px 90px; width: 85%; margin: auto; border-radius: 10px;}
.sectionHomeFive_slider .item img{width: 120px !important; position: absolute; left: -40px;}
.sectionHomeFive_slider .item> div{}
.sectionHomeFive_slider .item> div img{width: 40px !important; position: relative; left: 0; margin-bottom: 20px;}
.sectionHomeFive_slider .item> div p{font-size: 15px; margin-bottom: 45px;}
.sectionHomeFive_slider .item .caption{position:absolute; bottom:10px; right:20px; }
.sectionHomeFive_slider .item .caption h2{font-size:15px; font-weight:500; color:#333; margin-bottom:5px;}
.sectionHomeFive_slider .item .caption h5{font-size:13px; font-weight:400; color:#333;}

.sectionHomeFive_slider .owl-dot{background: #fff!important; width: 30px; height: 12px; border-radius: 10px; margin-right:10px;}
.sectionHomeFive_slider .owl-dot.active{background:#f7c758!important; width:50px;}
.sectionHomeFive_slider .owl-dots{margin-right: 60px; float: right; margin-top: 15px;}


.sectionHomeSix{overflow:hidden;}
.bigUL{margin:0; padding:0; display:flex;}
.bigUL li{width:50%;display:inline-block; list-style:none; position:relative; overflow: hidden;}
.bigUL li .contentImg_part{position:absolute; top:50%; left:0; right:0; text-align: center;}
.bigUL li:first-child img{width:100%;}
.bigUL li:first-child h2{color:#fff; font-size:35px; margin-bottom:30px;}
.bigUL li:first-child:before{content:''; background:hsl(0deg 0% 20% / 62%); position:absolute; top:0; bottom:0; left:0; right:0;}
.bigUL li:first-child form input[type=text]{padding:10px 20px; background:#e3e0dd; color:#333; font-size:14px; border:none; border-radius:5px; width:55%;}
.bigUL li:first-child form input[type=submit]{background:#da3535; color:#fff; border-radius:10px; font-size:16px; padding:10px 20px; border:none; margin-left:15px;}

.bigUL li:last-child{place-items: center; display: flex;}
.bigUL li:last-child .right{position:absolute; top:0; right:0; float:right;}
.bigUL li:last-child .right img{ width: 250px;}
.bigUL li:last-child .left{position:absolute; top:0; left:-60px; float:left;}
.bigUL li:last-child .left img{ width: 250px; transform: rotate(95deg);}
.bigUL li:last-child .table_list{margin: auto; display: flex; flex-wrap: wrap; padding: 0; width: 65%;}
.bigUL li:last-child .table_list li{width: 50%; text-align: center;}
.bigUL li:last-child .table_list li{border: 1px solid #ccc; border-left: 0; padding:15px;}
.bigUL li:last-child .table_list li:last-child{border-right:0px;}
.bigUL li:last-child .table_list li:first-child{border-top:0px;}
.bigUL li:last-child .table_list div{display:flex; place-items:center; flex-wrap: wrap;}
.bigUL li:last-child .table_list div p{width:100%;}
.bigUL .table_list li div img{margin:auto; display:block; width: auto;}
.bigUL .table_list li:first-child:before{background:none; display:block; position:relative;}
.bigUL li:last-child .table_list li:nth-child(2){border-right:0px; border-bottom:0px;border-top: 0px;}
.bigUL li:last-child .table_list li:nth-child(1){border-bottom:0px;}
.bigUL li:last-child .table_list li:nth-child(3){border-bottom:0px;}
.bigUL li:last-child .table_list li:nth-child(4){border-bottom:0px;}


.clearfix{clear:both;}

.sectionHomeSeven{padding:50px 0px; position:relative; overflow:hidden; background:#ededed;}
.sectionHomeSeven_Limg{position:absolute; left:0; top:0;}
.sectionHomeSeven_Limg img{width:auto;}
.sectionHomeSeven_Rimg{position:absolute; right:0; top:0;}
.sectionHomeSeven_Rimg img{width:auto;}
.sectionHomeSeven .line-star_text { display: inline-flex; place-items: center; justify-content: center; margin-left: -80px; width: 100%; }
.sectionHomeSeven .line-star_text> div h1{color:#da3535;}
.sectionHomeSeven .line-star_text> div h1 span{display:block;}
.sectionHomeSeven .line-star_text> div h2{color:#3d507f; font-size:18px;}

.sectionHomeSeven_slider img{width:100px; height:100px;margin:auto; display:block;}

@media only screen and (max-width: 767px) {  
    
    
    .experience_box .card-body{margin-bottom:30px;}
    
    .sectionHomeTwo .line-star_text img{position: absolute; top: -20px; left: -20px; width: 120px;}
    .sectionHomeTwo h1{font-size: 25px;}
    .sectionHomeTwo h2{font-size:18px;}
    .sectionHomeTwo ul li{width:100%; height:250px;}
    .sectionHomeTwo ul li img{width:40%;}
    .sectionHomeTwo ul li:nth-child(1) a{padding: 7px; font-size:16px; font-weight:500;}
    
    .sectionHomeTwo_fixedRight img{width:50px;}
    
    .sectionHomeThree_LINE img { width: 100px; }
    .sectionHomeThree_DOT img { width: 100px; }
    .sectionHomeThree .tag{display:block;}
    .sectionHomeThree .tag span{position:relative; top: -30px;}
    .sectionHomeThree .tag> div{margin-left:0px;}
    .sectionHomeThree .tag> div h4{white-space:nowrap; font-size:14px;}
    .sectionHomeThree .tag> div p{}
    .sectionHomeThree_t img { width: 35%;}
    .sectionHomeThree_t h1{font-size: 22px;}
    .sectionHomeThree_t h2{ font-size: 18px;}
    .sectionHomeThree_t p{width:100%; font-size:13px;}
    
    .sectionHomeFour h1{font-size:22px;}
    .sectionHomeFour h3{font-size:16px;}
    .direction-l .desc img, .direction-r .desc img{width:150px;}
    .direction-l .desc> div, .direction-r .desc> div{background: #fff; padding: 0px 10px; margin-left:0px;}
    .direction-l .desc> div h4, .direction-r .desc> div h4{font-size: 16px; margin-top:15px;}
    .direction-l .desc> div p, .direction-r .desc> div p{font-size:13px;}
    
    .flag:before{border-style: unset; border-width: 0px; width: auto;}
    
    .sectionHomeFive_slider .item{display:block; padding: 10px 20px;}
    .sectionHomeFive_slider .item img{width: 90px !important; position: relative; left: 0px; top: 0px; margin: auto; display:inline-block!important;}
    .sectionHomeFive_slider .item> div img{width:25px!important;}
    .sectionHomeFive_slider .item> div p { font-size: 12px; padding-bottom: 45px; }
    .sectionHomeFive_slider .owl-dots{margin-right:20px;}
    
    .bigUL{flex-wrap:wrap;}
    .bigUL li{width:100%;}
    .bigUL li:first-child h2{font-size:22px;}
    
    .bigUL li:last-child .left img{width:150px;}
    .bigUL li:last-child .right img { width: 100px; }
    .bigUL li:last-child .table_list{width:80%; margin:auto; margin-top: 100px;}
    .bigUL .table_list li div img{width:40px;}
    
    
    .sectionHomeSeven{padding-bottom:20px;}
    .sectionHomeSeven_Rimg img{width:150px;}
    .sectionHomeSeven_Limg img{width:100px;}
    .sectionHomeSeven .line-star_text{display: block !important; margin-left:0px;}
    .sectionHomeSeven .line-star_text> div h1{font-size:20px;}
    .sectionHomeSeven .line-star_text> div h2{font-size:16px;}
    .sectionHomeSeven .line-star_text img{width:200px; display:none;}
    .sectionHomeSeven_sliders .item img{width:50%!important;}
    
    
    

}
    